MAIL_PROVIDER: resend
MAIL_PROJECT_KEY: politeia
MAIL_BRAND_NAME: Politeia
MAIL_FROM_INTERNAL: "Politeia Interno <notificaciones@politeia.ar>"
MAIL_FROM_UPDATES: "Politeia Updates <updates@politeia.ar>"
MAIL_FROM_NEWSLETTER: "Politeia Newsletter <newsletter@politeia.ar>"
MAIL_REPLY_TO: info@politeia.ar
NEWSLETTER_AUDIENCE_KEY: politeia-newsletter
RESEND_SEGMENT_ID: REEMPLAZAR
RESEND_TOPIC_NEWSLETTER_ID: REEMPLAZAR
RESEND_TOPIC_NEW_POSTS_ID: REEMPLAZAR
MAILING_DISPATCH_TOKEN: REEMPLAZAR_CON_SECRETO_LARGO
APP_BASE_URL: https://admin.politeia.ar
PUBLIC_SITE_URL: https://www.politeia.ar
API_PUBLIC_URL: https://URL_DE_CLOUD_RUN
